<!doctype html>
<html>
  <head>
    <title>PhotoPuzzle</title>
    <meta charset="UTF-8">
    <script>
      var tile = JSON.parse(localStorage.getItem("tile"));
      console.log(`Loaded tile ${JSON.stringify(tile)}`);
      var toggle = function() {
        if (tile === undefined) {
          console.log("No tile assigned yet");
        } else {
          fetch(`/api/image/${tile.run_id}/column/${tile.column}/row/${tile.row}/state/toggle`, {method: "PUT"})
            .then(response => {
              if (response.status === 400) {
                console.log("Refreshing tile");
                tile = undefined;
                changeTile().then(toggle);
              }
            });
        }
      };
      var changeTile = function() {
        return fetch("/api/tile-assignment", {
                method: "POST",
                headers: {"Accept": "application/json", "Content-Type": "application/json"},
                body: JSON.stringify({currentTile: tile})
              })
          .then(response => response.json())
          .then(data => {
            console.log(`Received tile ${JSON.stringify(data)}`)
            tile = data;
            localStorage.setItem("tile", JSON.stringify(tile));
          });
      };
      changeTile();
      var toggleOpacity = function(id) {
        var element = document.getElementById(id);
        element.style.opacity = 0.6;
        element.style.filter ="alpha(opacity=60)"; // IE fallback
        setTimeout(function () {
          element.style.opacity = 1.0;
          element.style.filter ="alpha(opacity=100)"; // IE fallback
        }, 100);
      };
    </script>
  </head>
  <body>
    <img id="button-red" alt="Red button" onclick="toggleOpacity('button-red'); toggle();" src="{{ url_for('static', path='/button-red.jpg') }}" />
    <img id="button-blue" alt="Blue button" onclick="toggleOpacity('button-blue'); changeTile();" src="{{ url_for('static', path='/button-blue.jpg') }}" />
    <!-- <img id="button-blue" alt="Green button" onclick="" src="{{ url_for('static', path='/button-green.jpg') }}" /> -->
  </body>
</html>
